.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 3em auto 2em;
  padding: 0.5em;
  border-radius: 3px;
  background-color: #d8d8d8;
  box-shadow: 3px 3px 7px rgb(0 0 0 / 90%);
}

.title {
  margin-right: 20px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  width: 200px;
}
